@import './base.css';

.router-link-exact-active {
  color: #000;
  background-color: #f0f0f0 !important;
  font-weight: bold;
}

.router-link:hover {
  background-color: #f0f0f0;
}

.right.aligned {
  text-align: right;
}

